<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86" />
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings file="">
    <clear />
    <add key="config_version" value="-1" />
    <add key="custom" value="" />
    <add key="personal_translate" value="0" />
    <add key="multitienda" value="0" />
    <add key="pathpictures" value=".." />
    <add key="maxregistros" value="500" />
    <add key="logactivado" value="1" />
    <add key="days_log_files" value="1" />
    <add key="PrintFormatsPath" value="..\DibalFormatosImpresion" />
    <add key="BlueCalibrate" value="0" />
    <add key="CompanyLogo" value="..\PicturesDibal\LogoDibal.bmp" />
    <add key="TextLot" value="0,00" />
    <add key="DateStartListing" value="09/05/2024 10:13:00" />
    <add key="RefreshTime" value="3000" />
    <add key="Cursor" value="0" />
    <add key="LogPath" value="..\BalanzaPC\log\" />
    <add key="AppManBeep" value="0" />
    <add key="AppPOBeep" value="1" />
    <add key="BeepFrecuency" value="3000" />
    <add key="TouchScreenKeyboard_Path" value="C:\Windows\System32\osk.exe" />
    <add key="CommunicationsConfig_Path" value="..\Comunicaciones\ComunicacionesBalPCInterface.exe.config" />
    <add key="HeightTicketImage" value="1118" />
    <add key="WidthTicketImage" value="790" />
    <add key="PathLastConfigurationCustomList" value="" />
    <add key="EraseItemAfterSell" value="1" />
    <add key="AutomaticStart" value="1" />
    <add key="User" value="MICHELINI" />
    <add key="Password" value="qH3smMbOefgtU7oGvWgnyA==" />
    <add key="CommunicateCsBaltty" value="0" />
    <add key="EmailAddressFrom" value="" />
    <add key="EmailAddressTo_Weekly" value="" />
    <add key="EmailAdrresCopy1_Weekly" value="" />
    <add key="EmailAdrresCopy2_Weekly" value="" />
    <add key="EmailAddressTo_Daily" value="" />
    <add key="EmailAdrresCopy1_Daily" value="" />
    <add key="EmailAdrresCopy2_Daily" value="" />
    <add key="Smtp" value="smtp.gmail.com" />
    <add key="PortSmtp" value="587" />
    <add key="UserSmtp" value="dfs.sendmail" />
    <add key="PasswordSmtp" value="sendemail" />
    <add key="SSL" value="1" />
    <add key="VT_BackgroundImage" value="..\PicturesDibal\VT_Reciclaje\pantalla_peso.png" />
    <add key="VT_Config" value="1" />
    <add key="ModoPortugal" value="0" />
    <add key="AppPOSKeyboard" value="1" />
    <add key="ListadoGranTotal" value="1,2,3,4,5,6,7" />
    <add key="InitializeDailyTicketNumber" value="1" />
    <add key="AutomaticCashdrawer" value="0" />
    <add key="UnitsX1000" value="1" />
    <add key="Export_Path" value="c:\" />
    <add key="PasswordSaleScreen" value="dibal" />
    <add key="UserScreen1" value="PorTeclaDirecta" />
    <add key="PasswordScreen1" value="PorTeclaDirecta" />
    <add key="UserScreen2" value="PorFamilias" />
    <add key="PasswordScreen2" value="PorFamilias" />
    <add key="UserScreen3" value="" />
    <add key="PasswordScreen3" value="" />
    <add key="SecurityHideMenu" value="0" />
    <add key="GlobalFormat" value="" />
    <add key="AmountLimit" value="" />
    <add key="EraseSalesOnEndOfDay" value="0" />
    <add key="HideReceiptViewAfterSell" value="0" />
    <add key="PasswordSlaveToMaster" value="dibal" />
    <add key="ItemProductLabels" value="0" />
    <add key="NumberProductLabels" value="29" />
    <add key="QuantityProductLabels" value="0" />
    <add key="MoveKeypad" value="0" />
    <add key="PositionKeypad" value="0" />
    <add key="TemplateNumber" value="0" />
    <add key="PrintAllRecipes" value="0" />
    <add key="Show2NamesInWeightWindow" value="1" />
    <add key="OpenCashDrawer" value="0" />
    <add key="CheckXpMode" value="1" />
    <add key="LogCashLogyActivado" value="1" />
    <add key="TurnomaticActivated" value="1" />
    <add key="TurnomaticVisible" value="0" />
    <add key="TurnomaticIp" value="127.0.0.1" />
    <add key="TurnomaticPort" value="3000" />
    <add key="TurnomaticQueue" value="1" />
    <add key="ESLServer" value="0" />
    <add key="ESLPort" value="8001" />
    <add key="ConvertWeight" value="1" />
    <add key="NumberProductLabels2" value="0" />
    <add key="QuantityProductLabels2" value="0" />
    <add key="NumberProductLabels3" value="0" />
    <add key="QuantityProductLabels3" value="0" />
    <add key="MinWeight" value="0" />
    <add key="MaxWeight" value="0" />
    <add key="TargetWeight" value="0" />
    <add key="MinPercentage" value="0" />
    <add key="MaxPercentage" value="0" />
    <add key="NumberDaysLogFiles" value="7" />
    <add key="PrintExpirationDate" value="1" />
    <add key="ManualWeightSymbol" value="" />
    <add key="LastWorkingMode" value="" />
    <add key="AllowEditConfigurableTemplateDesign" value="0" />
    <add key="DecimalNumbersPriceWithoutVAT" value="4" />
    <add key="ComputeVATAmountFromTaxBase" value="0" />
    <add key="COMPortScanner" value="" />
    <add key="GlobalBatch" value="" />
    <add key="CashDrawerInUse" value="0" />
    <add key="CashDroIP" value="" />
    <add key="CashDroUser" value="" />
    <add key="CashDroPwd" value="" />
    <add key="CashGloryIP" value="" />
    <add key="TBAIQRBizkaiaURL" value="https://batuz.eus/QRTBAI/" />
    <add key="TBAIQRArabaURL" value="https://ticketbai.araba.eus/TBAI/QRTBAI" />
    <add key="TBAIQRGipuzkoaURL" value="https://tbai.egoitza.gipuzkoa.eus/qr/" />
    <add key="TBAIPeriodoObligatorioBizkaia" value="01/01/2022" />
    <add key="TBAIPeriodoObligatorioGipuzkoa" value="01/05/2022" />
    <add key="TBAIPeriodoObligatorioAraba" value="" />
    <add key="ShowUploadServiceStatus" value="0" />
    <add key="FiscalTransferFolder" value="" />
    <add key="CurrentCustomer" value="0" />
    <add key="suplantacion" value="0" />
    <add key="DecimalesPesoActivo" value="3" />
    <add key="MaxDecimalesPesoActivo" value="3" />
    <add key="AvoidRestoreMessage" value="0" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="cnnString" connectionString="server=localHost;database=sys_datos;user id=user;password=dibal;connection timeout=10000;port=3306;provider=&quot;Provider MySQL&quot;"
      providerName="" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>